/.direnv
/safe
/stuff
/data
/volumes
/result

/env/**/*.env

node_modules

.ipynb_checkpoints

/.tests
__pycache__

/env/.env.miner.testnet
/env/.env.miner.mainnet
/env/.env.validator.testnet
/env/.env.validator.mainnet
/src/weights.pkl
